<!DOCTYPE html>
<html lang="en">
<head>

        {% load staticfiles %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pliki/css/kontakt.css' %}">
    <title>Zanurzone</title>
</head>
<body>

    <div class='anim jeden'>

        <ul class="header"
        data-aos="fade-right"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="500"
        data-aos-duration="1000">

            <li><a href="../" class="menu1">POWRÓT</a></li>

        </ul>


        <div class="tytul">Napisz do nas</div>
        <form id="contact-form"  role="form"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
        data-aos-delay="100"
        data-aos-duration="1000">

            <div id="dane">

                    <label><input type="text" placeholder="Imię i Nazwisko" id="name" name="name"  required="required" data-error="Imię jest wymagane"></label>
                    <label><input type="email" placeholder="Adres Email" id="emailik" name="emailik"  required="required" data-error="Adres email jest wymagany"></label>
                    <label><textarea id="rozmiarwiadomosci" placeholder="Twoja Wiadomość" name="message"  required="required" data-error="Please, leave us a message."></textarea></label>

            </div>
  
            <div id="just">
                <h5 class="czekboxy"> &nbsp; &nbsp; Administratorem danych jest Słoikówka Kamil Marach, ul. Rivoliego 13, 62-030 Luboń (więcej informacji <a href='/politykaprywatnosci' target='_new' class="czekboxy">Polityka Prywatności</a>)</h5>
                <input type="checkbox" id="coding1" name="checkbox-98[]" required="required">
                <label for="coding1" class="czekboxy">"Wyrażam zgodę na przetwarzanie moich danych osobowych w celach obsługi wysłanego przeze mnie za pośrednictwem formularza kontaktowego zapytania. Podanie danych osobowych jest dobrowolne, ale niezbędne do obsługi zapytania. Przysługuje mi prawo dostępu do moich danych, ich poprawiania, wyrażania sprzeciwu wobec ich przetwarzania oraz żądania ich usunięcia."</label>
                <br><br><input type="checkbox" id="coding2" name="checkbox-99[]" >
                <label for="coding2" class="czekboxy">"Wyrażam zgodę na przetwarzanie moich danych osobowych w celu wysyłania treści marketingowych (informacji handlowych) . Przysługuje mi prawo dostępu do moich danych, ich poprawiania, wyrażania sprzeciwu wobec ich przetwarzania oraz żądania ich usunięcia."</label>
                <br><br><input type="checkbox" id="coding3" name="checkbox-97[]" >
                <label for="coding2" class="czekboxy">"Wyrażam zgodę na przetwarzanie moich danych osobowych w celu realizacji usługi newsletter. Podanie danych osobowych jest dobrowolne, ale niezbędne do realizacji usługi. Przysługuje mi prawo dostępu do moich danych, ich poprawiania, wyrażania sprzeciwu wobec ich przetwarzania oraz żądania ich usunięcia."</label>
                <br>
            </div>


            <span class="przyciski">
            <input type="submit" id="wyslij">
            <input type="reset" value="Wyczyść" id="resetuj">
            </span>
  
        </form>

    </div>


</body>

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>