<!DOCTYPE html>
<html lang="en">
<head>

        {% load staticfiles %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pliki/css/kontakt.css' %}">
    <title>Zanurzone</title>
</head>
<body>


    <div class='animpol dwa'>


        <div class="tytul">Polityka prywatności</div>

        <div class="polityka">

            <p>&emsp;&emsp;W Zanurzonych szanujemy Twoją prywatność, dlatego stworzyliśmy Politykę Prywatności zgodną z Ogólnym Rozporządzeniem o Ochronie Danych Osobowych (zwanym dalej „RODO”) .

            </p><br><p style="text-align: center">I INFORMACJE OGÓLNE</p>

            <p>&emsp;&emsp;Administratorem Twoich danych osobowych (zwanym dalej „Administrator”) jest firma Słoikówka Kamil Marach z siedzibą w Luboniu (62-030) ul. Rivoliego 13, wpisana do rejestru CEIDG pod numerem NIP 9231607451, prowadząca stronę internetową pod adresem www.zanurzone.com

            </p><br><p style="text-align: center">II CEL PRZETWARZANIA</p>
            <p>&emsp;&emsp;Twoje dane osobowe są przechowywane i przetwarzane na podstawie art. 6 ust. 1 lit. f RODO, tj. w oparciu o niezbędność przetwarzania do celów wynikających z prawnie uzasadnionych interesów realizowanych przez Administratora. Przetwarzamy jedynie dane niezbędne do obsługi zapytania/wykonania usługi/realizacji umowy. W przypadku zapisania się do Newslettera przetwarzamy dane do celów marketingowych za wyraźną zgodą wyrażoną w momencie zapisu. Zgoda na przetwarzanie danych osobowych w celach marketingowych może zostać cofnięta w każdym momencie

            </p><br><p style="text-align: center">III DANE OSOBOWE</p>

            <p>&emsp;&emsp;Masz prawo do dostępu do swoich danych osobowych oraz informacji czy Administrator oraz przetwarza dane zgodnie z ich celem.
            Masz prawo żądania od Administratora ograniczenia przetwarzania danych.
            Możesz wystąpić do Administratora z prośbą o zmianę danych lub ich sprostowanie, w momencie gdy są nieprawidłowe lub niekompletne.
            Przysługuje Ci prawo do bycia zapomnianym – całkowitego usunięcia danych, w tym celu powinieneś wystąpić do Administratora poprzez adres mailowy info@zanurzone.com lub przesyłając żądanie na adres siedziby firmy wskazany powyżej. Administrator zastrzega sobie prawo do odmowy usunięcia danych, w przypadku opisanym w pkt 8.
            Tam gdzie przetwarzamy Twoje dane osobowe w oparciu o usprawiedliwiony interes Administratora, dane osobowe nie będą przetwarzane dla określonego celu, jeżeli zgłosisz sprzeciw wobec takiego przetwarzania.
            Pamiętaj, że jeśli przetwarzamy Twoje dane w oparciu o Twoją zgodę, możesz w każdej chwili ją wycofać, a my będziemy przetwarzać dane tylko do tego momentu
            Administrator zastrzega sobie prawo do przekazania Twoich danych w zakresie dozwolonym przez obowiązujące przepisy prawa podmiotom trzecim w celu wykonania umowy (np. wysyłki zakupionego towaru). Podmiotami trzecimi w tym przypadku mogą być np. operatorzy płatności, firmy kurierskie, biura rachunkowe. W powyższych przypadkach Administrator przekaże jedynie dane niezbędne do wykonania określonej czynności w ramach umowy.
            Administrator może zostać zobowiązany do przekazania Twoich danych osobowych na żądanie odpowiednich służb i organów tj. sądu czy prokuratora, bez Twojej wiedzy tylko na podstawie obowiązujących przepisów prawa po wcześniejszej weryfikacji ich zasadności.
            Administrator zastrzega sobie prawo do odmowy wypełnienia obowiązku informacyjnego, oraz innych na nim spoczywających, w przypadku gdy zachodzi uzasadnione podejrzenie możliwości oszustwa i podszycia się pod Ciebie.
            </p><br><p style="text-align: center">IV OKRES PRZECHOWYWANIA DANYCH</p>

            <p>&emsp;&emsp;Twoje dane osobowe uzyskane w celu obsługi zapytania/wykonania usługi/realizacji umowy będą przechowywane tak długo, jak będzie to konieczne w celu zapytania/wykonania usługi/realizacji umowy, a następnie przez czas odpowiadający okresowi przedawnienia roszczeń, jakie mogą być wystosowane wobec Administratora lub roszczeń pochodzących od organów podatkowych (do 5 lat).
            Twoje dane osobowe uzyskane na podstawie zgody na przetwarzanie w celach marketingowych i wysyłki newslettera będą przetwarzane do momentu wycofania zgody.
            Tam gdzie przetwarzamy Twoje dane osobowe w oparciu o usprawiedliwiony interes Administratora, dane osobowe nie będą przetwarzane dla określonego celu, jeżeli zgłosisz sprzeciw wobec takiego przetwarzania.
            Pamiętaj, że jeśli przetwarzamy Twoje dane w oparciu o Twoją zgodę, możesz w każdej chwili ją wycofać, a my będziemy przetwarzać dane tylko do czasu trwania zgody.
            </p><br><p style="text-align: center">V POZOSTAŁE</p>

            <p>&emsp;&emsp;Administrator oświadcza, że nie stosuje mechanizmów polegających na zautomatyzowanym podejmowaniu decyzji.
            Masz prawo do wniesienia skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych w przypadku naruszenia powyższych zasad przetwarzania.
            Twoje dane nie będą przekazywane poza Europejski Obszar Gospodarczy.
            Powyższa Polityka Prywatności zaczyna obowiązywać od 25 maja 2018 r.



            </p><br><h2 style="text-align: center">POLITYKA COOKIES</h2><br><br>


            <p>&emsp;&emsp;Serwis korzysta z plików cookies. Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.

            </p><br><p style="text-align: center">I RODZAJE WYKORZYSTYWANYCH COOKIES</p>

            <p>&emsp;&emsp;Administrator wykorzystuje dwa typy plików cookies:
            <p>a. Cookies sesyjne: są przechowywane na Urządzeniu Użytkownika i pozostają tam do momentu zakończenia sesji danej przeglądarki. Zapisane informacje są wówczas trwale usuwane z pamięci Urządzenia. Mechanizm cookies sesyjnych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika.
            <p>b. Cookies trwałe: są przechowywane na Urządzeniu Użytkownika i pozostają tam do momentu ich skasowania. Zakończenie sesji danej przeglądarki lub wyłączenie Urządzenia nie powoduje ich usunięcia z Urządzenia Użytkownika. Mechanizm cookies trwałych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika.
            <p>&emsp;&emsp;Użytkownik ma możliwość ograniczenia lub wyłączenia dostępu plików cookies do swojego Urządzenia. W przypadku skorzystania z tej opcji, korzystanie z Serwisu będzie możliwe, poza funkcjami, które ze swojej natury wymagają plików cookies.
            </p><br><p style="text-align: center">II CELE WYKORZYSTYWANIA COOKIES</p>

            <p>&emsp;&emsp;Administrator wykorzystuje Cookies własne w celu poprawnej konfiguracji serwisu, a w szczególności do:
            <p>a. dostosowania zawartości stron internetowych Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych Serwisu.
            <p>b. rozpoznania urządzenia Użytkownika Serwisu oraz jego lokalizację i odpowiednio wyświetlenia strony internetowej, dostosowanej do jego indywidualnych potrzeb;
            <p>c. zapamiętania ustawień wybranych przez Użytkownika i personalizacji interfejsu Użytkownika, np. w zakresie wybranego języka lub regionu, z którego pochodzi Użytkownik,
            <p>d. zapamiętania historii odwiedzonych stron w serwisie w celu rekomendacji treści,
            <p>e. rozmiaru czcionki, wyglądu strony internetowej itp.
            <p>&emsp;&emsp;Administrator wykorzystuje Cookies własne w celu uwierzytelniania użytkownika w serwisie i zapewnienia sesji użytkownika w serwisie, a w szczególności do:
            <p>a. poprawnej konfiguracji wybranych funkcji Serwisu, umożliwiając w szczególności weryfikację autentyczności sesji przeglądarki.
            <p>b. optymalizacji i zwiększenia wydajności usług świadczonych przez Administratora.
            <p>&emsp;&emsp;Administrator wykorzystuje Cookies własne w celu realizacji procesów niezbędnych dla pełnej funkcjonalności stron internetowych, a w szczególności do:
            <p>a. dostosowania zawartości stron internetowych Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych Serwisu. W szczególności pliki te pozwalają rozpoznać podstawowe parametry Urządzenia Użytkownika i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb;
            <p>b. poprawnej obsługi programu partnerskiego, umożliwiając w szczególności weryfikację źródeł przekierowań Użytkowników na strony internetowe Serwisu.
            <p>&emsp;&emsp;Administrator wykorzystuje Cookies własne w celu zapamiętania lokalizacji użytkownika, a w szczególności do poprawnej konfiguracji wybranych funkcji Serwisu, umożliwiając w dostosowanie dostarczanych informacji do Użytkownika z uwzględnieniem jego lokalizacji.
            <p>&emsp;&emsp;Administrator wykorzystuje Cookies własne w celu analiz i badań oraz audytu oglądalności, a w szczególności do tworzenia anonimowych statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych Serwisu, co umożliwia ulepszanie ich struktury i zawartości.
            <p>&emsp;&emsp;Administrator wykorzystuje Cookies własne w celu świadczenia usług reklamowych, a w szczególności do dostosowania prezentowanych za pośrednictwem Serwisu reklam usług i produktów firm trzecich.
            <p>&emsp;&emsp;Administrator usługi wykorzystuje Cookies zewnętrzne w celu popularyzacji serwisu za pomocą serwisów społecznościowych Facebook.com (administrator cookies zewnętrznego: Facebook Inc z siedzibą w USA lub Facebook Ireland z siedzibą w Irlandii)
            <p>&emsp;&emsp;Administrator wykorzystuje Cookies zewnętrzne w celu zbierania ogólnych i anonimowych danych statystycznych za pośrednictwem narzędzi analitycznych i marketingowych:
            <p>a. Google Analytics (administrator cookies: Google Inc z siedzibą w USA),
            <p>b. Google AdWords (administrator cookies: Google Ireland Limited z siedzibą w Irlandii).
            </p><br><p style="text-align: center">III OKREŚLENIE WARUNKÓW PRZECHOWYWANIE LUB UZYSKIWANIA DOSTĘPU PRZEZ COOKIES</p>

            <p>&emsp;&emsp;Użytkownik może samodzielnie i w każdym czasie zmienić ustawienia dotyczące plików Cookies, określając warunki ich przechowywania i uzyskiwania dostępu przez pliki Cookies do Urządzenia Użytkownika. Zmiany ustawień, o których mowa w zdaniu poprzednim, Użytkownik może dokonać za pomocą ustawień przeglądarki internetowej lub za pomocą konfiguracji usługi. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu Cookies na urządzeniu Użytkownika. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).
            <p>&emsp;&emsp;Użytkownik może w każdej chwili usunąć pliki Cookies korzystając z dostępnych funkcji w przeglądarce internetowej, której używa.
            <p>&emsp;&emsp;Ograniczenie stosowania plików Cookies, może wpłynąć na niektóre funkcjonalności dostępne na stronie internetowej Serwisu.</p>

        </div>

    </div>

</body>

</html>