<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pliki/css/zanurzone.css' %}">
    <title>Zanurzone</title>





</head>
<body>


    <div class='anim pierwsza'>

        <ul class="header"
        data-aos="fade-left"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="500"
        data-aos-duration="1000">

            <li><a href='#1' class="menu">OFERTA</a></li>

            <li><a href="kontakt.html" class="menu">KONTAKT</a></li>

            <li><a href="mapa.html" class="menu">ZNAJDŹ NAS</a></li>

            <li><a href="naszemarki.html" class="menu">NASZE MARKI</a></li>

        </ul>

    </div>

    <div class='anim druga'  id="1">
        <div class="wstep">
            <p 
            data-aos="fade-left"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-delay="500"
            data-aos-duration="1000" id="wyobrazsobie">Wyobraź sobie smak Twoich ulubionych owoców dojrzewających w letnim słońcu, chrupiących orzechów zbieranych jesienią czy palonej kawy, która budzi o poranku. 
                Wyobraź sobie zapach czekolady, przyjemny i odprężający. A gdyby tak połączyć jedno i drugie i pozwolić by ulubione dodatki zanurzyły się w pysznej czekoladzie? 
                Tak właśnie powstały Zanurzone, dzięki którym znane smaki zaskakują i zachęcają do sięgania po kolejne.</p><br>

            <p 
            data-aos="fade-right"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-delay="300"
            data-aos-duration="1000" id="doprodukcji">Do produkcji wykorzystujemy wysokiej jakości czekolady belgijskie, deserowe, mleczne oraz białe. 
                Dbamy o każdy szczegół, począwszy od starannej selekcji surowców, przez odpowiednio dobrany proces produkcji, aż po eleganckie i nietuzinkowe opakowanie.</p>
        </div>
    </div>

    <div class='anim trzecia'>


        <div class="du trzecia1"
        data-aos="fade-up-right"
        data-aos-offset="540"
        data-aos-easing="ease-in-sine"></div>

        <div class="ma trzecia2"
        data-aos="fade-up-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>


    </div>

    <div class='anim czwarta'>

        <div class="du czwarta1"
        data-aos="fade-up-right"
        data-aos-offset="540"
        data-aos-easing="ease-in-sine"></div>

        <div class="ma czwarta2"
        data-aos="fade-up-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>

    </div>

    <div class='anim piata'>

        <div class="du piata1"
        data-aos="fade-up-right"
        data-aos-offset="540"
        data-aos-easing="ease-in-sine"></div>

        <div class="ma piata2"
        data-aos="fade-up-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>

    </div>

    <div class='anim szosta'>
        <div class="du szosta1"
        data-aos="fade-up-right"
        data-aos-offset="540"
        data-aos-easing="ease-in-sine"></div>

        <div class="ma szosta2"
        data-aos="fade-up-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>
    </div>

    <div class='anim siodma'>
        <div class="du siodma1"
        data-aos="fade-up-right"
        data-aos-offset="540"
        data-aos-easing="ease-in-sine"></div>

        <div class="ma siodma2"
        data-aos="fade-up-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>
    </div>

    <div class='anim osma'>
        <div class="du osma1"
        data-aos="fade-up-right"
        data-aos-offset="540"
        data-aos-easing="ease-in-sine"></div>

        <div class="ma osma2"
        data-aos="fade-up-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>
    </div>

    <div class='anim dziewiata'>



        <div class="du dziewiata1"
        data-aos="fade-up-right"
        data-aos-offset="540"
        data-aos-easing="ease-in-sine"></div>

        <div class="ma dziewiata2"
        data-aos="fade-up-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>
    </div>

    <div class='anim dziesiata'>


        <div class="dzies dziesiata1"
        data-aos="fade-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>
        <div class="dzies dziesiata2"
        data-aos="fade-right"
        data-aos-offset="590"
        data-aos-easing="ease-in-sine"></div>



    </div>


    <div class='anim jedenasta'>

        <div class="odnosnik"
        data-aos="fade-right"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="2400"
        data-aos-duration="1800">
        <a href="kontakt.html" class="menu">KONTAKT</a></div>


        <div class="wachlarz jedenasta1"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-anchor-placement="center-center"></div>
        <div class="wachlarz jedenasta2"
        data-aos="fade-up-right"
        data-aos-duration="1000"
        data-aos-anchor-placement="center-center"></div>
        <div class="wachlarz jedenasta3"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-anchor-placement="center-center"></div>
        <div class="wachlarz jedenasta4"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-anchor-placement="center-center"></div>
        <div class="wachlarz jedenasta5"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-anchor-placement="center-center"></div>
        <div class="wachlarz jedenasta6"
        data-aos="fade-up-left"
        data-aos-duration="1000"
        data-aos-anchor-placement="center-center"></div>
        <div class="wachlarz jedenasta7"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-anchor-placement="center-center"></div>

        <ul class="stopka">
            <li class="box"><img class="menik"
             data-aos="flip-down"
             data-aos-anchor-placement="bottom-bottom"
             data-aos-delay="1200"
             data-aos-duration="1400"
             src="{% static '/pliki/images/zanurzone_logo_full-color.png' %}" alt="logo"></li>

            <li class="box"><p class="danedofaktury"
            data-aos="flip-down"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-delay="1200"
            data-aos-duration="1400">
            Słoikówka<br>
            ul. Rivoliego 13<br>
            62-030 Luboń</p></li>

            <li class="box"><p class="podpis"
            data-aos="flip-down"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-delay="1200"
            data-aos-duration="1400" >wykonanie:<br> rekowski.krzysztof@gmail.com</p></li>

        </ul>

    </div>



</body>

<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css" rel="stylesheet"/>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
<script language="javascript">
    $(function() {
        toastr.options = {
           "closeButton": true,
           "debug": false,
           "positionClass": "toast-bottom-right",
           "showDuration": "300",
           "hideDuration": "1000",
           "timeOut": "0",
           "extendedTimeOut": "1000",
           "showEasing": "swing",
           "hideEasing": "linear",
           "showMethod": "fadeIn",
           "hideMethod": "fadeOut"
        }
  toastr.info("<p'>Portal w swym działaniu wykorzystuje pliki cookies. Aby dowiedzieć się więcej sprawdź naszą <a href='/politykaprywatnosci.html' target='_new'>Politykę Prywatności.</a></p>");
    });
</script>



<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>


</html>